# Public Expo variables used by the mobile app
EXPO_PUBLIC_API_HTTP_URL=https://chatly-backend-6qxq.onrender.com/graphql
EXPO_PUBLIC_API_WS_URL=wss://chatly-backend-6qxq.onrender.com/graphql
EXPO_PUBLIC_LIVEKIT_URL=wss://chatly-q41rks5z.livekit.cloud
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
